.App {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.sound-button {
	height: 20rem;
	border: none;
}

.sound-button:hover {
	background-color: gray;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
